{%- liquid
  if product == blank
    assign product = featured_product
  endif
-%}
<a href="{{ product.url }}" class="product-card">
  <div class="product-card__media">
    {%- if product.featured_image != blank -%}
      <img src="{{ product.featured_image | image_url: width: 800 }}" alt="{{ product.featured_image.alt | default: product.title | escape }}" loading="lazy" width="400" height="400">
    {%- endif -%}
    {%- if product.compare_at_price > product.price -%}<span class="badge">Sale</span>{%- endif -%}
  </div>
  <div class="product-card__title">{{ product.title }}</div>
  <div class="product-card__price">
    {%- if product.compare_at_price > product.price -%}
      <span class="price--sale">{{ product.price | money }}</span><s>{{ product.compare_at_price | money }}</s>
    {%- else -%}
      {{ product.price | money }}
    {%- endif -%}
  </div>
</a>
